body {
    background-color: rgb(214, 170, 211);
}

button {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    padding: 15px 15px;
    color: white;
    border: none;
}

button:hover {
    opacity: 2;
}

label {
    font-weight: bold
}

input {
    width: 100%;
    font-size: 13px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #f1f1f1;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    margin: 5% auto 10% auto;
    width: 70%;
}

.btn-confirm {
    box-sizing: border-box;
    opacity: 0.8;
    background-color: #c93096;
}

.user-image {
    display: block;
    width: 150px;
    height: 150px;
    margin: 20px auto 70px auto;
}

.center {
    text-align: center;
    margin: 40px 0 20px 0;
  }